{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if form.errors %}
    <div id="alert-message" class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 5px;">
        There was an error with your form..
    </div>
{% endif %}
<div class="shadow p-4 mb-5 bg-body rounded" style="margin-top: 10px;">
    <div style="margin-top: 30px; font-size: 22px; text-align: center">
        <strong>Register</strong>
    </div>
    <br/>

    <form action="{% url 'register_user' %}" method=POST>
      {% csrf_token %}
        {{form.as_p}}
        <br/>
        <br/>
      <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>

<div style="margin-top: 10px; ">
    <a href="{% url 'login' %}" style="text-decoration: none; color: black"><i>Already have an account? Login here</i></a>
</div>

{% endblock content %}