{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="px-3">
    <div class="row pt-1" style="font-size: 22px; margin-top: 10px; margin-bottom: 10px;">
        <strong> {{product.name}} </strong>
    </div>
    <div class="row">
    <div class="col-6">
        <img src="{{product.image.url}}" class="img-fluid rounded-2" style="width: 100%">
    </div>
    <div class="col-6">
        <div style="font-size: 20px;"><strong><i>Description</i></strong></div>
        {{product.description}}
        <div style="font-size: 20px; margin-top: 20px;"><strong><i>Price</i></strong></div>
        {{product.price|floatformat:2}} €


        {% if request.user.is_authenticated %}
            {% if liked_object%}
                <div style="font-size: 18px; text-align: right">
                    You like this product!
                </div>
                <div style="display:flex; justify-content: right">
                <a href="{% url 'likeProduct' product.id %}" class="addLike" title="like" >
                    <i class="fa-solid fa-heart fa-xl" style="color:black"></i>
                </a>
                </div>
            {% else %}
                <div style="font-size: 18px; text-align: right">
                    Click the heart to add to wishlist!
                <div style="display:flex; justify-content: right">
                <a href="{% url 'likeProduct' product.id %}" class="addLike" title="like" >
                    <i class="fa-regular fa-heart fa-xl" style="color:black"></i>
                </a>
                </div>
            {% endif %}
        {% else %}
            <div style="font-size: 18px; text-align: right">

                <a class="login py-1" href="{% url 'login' %}">
                            <button type="button" class="btn btn-outline-secondary rounded-3 px-4 ">Login to like products!</button>
                </a>
            </div>
        {% endif %}

        </a>
    </div>
        </div>
</div>

{% endblock content %}