{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-lg-6" >
        <div id="form-wrapper">
            <div style="font-size: 20px; padding-bottom: 15px"> <strong> Shipping Information </strong></div>
            {% if submitted %}
                Your order has been successfully processed!
            {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {% crispy form %}
                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
            {% endif %}

        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
				<!--<button id="make-payment">Make payment</button>-->
            <div id="paypal-button-container"></div>
        </div>

    </div>
    <div class="col-lg-6">
        <div>
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
        </div>
         <div style="padding-bottom: 15px; padding-top:20px; border-bottom:1px solid rgba(0, 0, 0, 0.3); font-size:20px; ">
                <strong> Order Summary </strong>
         </div>
        <div>
            {% for item in items_list %}
                 <div class="row">

                    <div class="col lg-12" style="display: flex; padding-bottom: 15px; padding-top: 15px">
                        <div style="flex:2">
                            <img src="{% static 'images/placeholder.png' %}" style="width: auto; height: 50px;">
                        </div>
                        <div style="flex:2"> {{item}}</div>
                        <div style="flex:1"> 20$</div>
                        <div style="flex:1"> x2</div>

                    </div>

                </div>
                {% endfor %}
                <div style="border-top:1px solid rgba(0, 0, 0, 0.3); font-size: 17px ">
                    Items: 2
                    <br>
                    Total: 40$
                </div>
        </div>
    </div>
</div>

{% endblock content %}