{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="px-3">
    <div class="row pt-1">
        <h1><b>{{product.name}}</b></h1>
    </div>
    <div class="row">
    <div class="col-6">
        <img src="{{product.image.url}}" class="img-fluid rounded-2" style="width: 100%">
    </div>
    <div class="col-6">
        <h3><b>Description:</b></h3>
        {{product.description}}
        <h3><b>Price:</b></h3>
        {{product.price}}

        {% if product.numberOfLikes == 0 %}
            <p class="p-2"><b> 0 Likes </b></p>
        {% elif product.numberOfLikes == 1 %}
            <p class="p-2"><b>Liked by {{ product.numberOfLikes }} customer</b></p>
        {% else %}
            <p class="p-2"><b>Liked by {{ product.numberOfLikes }} customers</b></p>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'likeProduct' product.id %}" class="addLike" title="like">
                <i class="fa-regular fa-thumbs-up fa-xl"></i>
            </a>
        {% else %}
            <a class="login py-1" href="{% url 'login' %}">
                        <button type="button" class="btn btn-outline-secondary rounded-3 px-4 ">Login to like products!</button>
                    </a>
        {% endif %}

        </a>
    </div>
        </div>
</div>

{% endblock content %}