{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="px-3">
    <div class="py-2" style="margin-top: 20px; font-size: 22px;"><strong>Your liked products</strong></div>
<div class="row">
    {% if not likedProducts %}
        No liked products yet!
    {% else %}
        {% for item in likedProducts %}
        <div class="col-md-4 col-sm-6" style="padding-top: 30px;">
          <div class="card" >
            <img src="{{item.imageURL}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <strong>{{ item.name }}</strong></h5>

              <button href="#" class="btn btn-outline-secondary btn-sm add-btn update-cart" data-action="add" data-product="{{item.id}}">Add to cart</button>
              <button class="btn btn-outline-secondary btn-sm" href="{% url 'detail' item.id %}"> View </button>
              <h6 style="display: inline-block; float: right"> €{{item.price|floatformat:2}} </h6>
            </div>
          </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
    </div>
{% endblock %}